<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/loanStyle.css">
</head>
<body>

    <div class="loan">
        
        <form  class="loan__link" method="GET" action="/Tab/loan/NewLoanEntry">
           <button>New Loan Entry</button> 
        </form>

         <form class="loan__link" method="GET" action="/Tab/loan/EMIentry">
            <button>EMI Entry</button>
         </form>
         
    </div>

</body>
</html>