<%-include("partials/header")-%>







    <!-- <div class="nav_links">
        <form action="" method="GET">
            <button type="submit"></button> 
        </form>  
        <form action="" method="GET">
            <button type="submit"></button> 
        </form>  
        <form action="" method="GET">
            <button type="submit"></button>   
        </form>    
        <form action="" method="GET">
            <button type="submit"></button>   
        </form>              
        <form action="" method="GET">
            <button type="submit"></button>
        </form>
    </div> -->
<%-include("partials/footer")-%> 

