.project {
  padding: 3vw;
}
/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 20vw;
}

/* Make the image to responsive */
.project-image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgb(133, 127, 127);
}

/* When you mouse over the container, fade in the overlay icon*/
.container:hover .overlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.link-icon {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.project_description {
  position: absolute;
  font-family: "Averia Serif Libre", cursive;
  font-size: 2em;
  top: 28%;
  left: 35%;
  color: white;
}

/* When you move the mouse over the icon, change color */
.fa-user:hover {
  color: #eee;
}
