<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RiseUp Consultancy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css">

    <script src="https://kit.fontawesome.com/2101b228df.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">

    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script> -->


</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">RiseUp Consultancy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Startup Plane
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    Registration
                                </a>


                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a target="_blank" href="/private-limited" class="dropdown-item">Private
                                                Limited
                                                Company</a></li>
                                        <li><a href="#" class="dropdown-item">Public Limited Company Registration</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Limited Liability Partnership
                                                Registration</a></li>
                                        <li><a target="_blank" href="/one-person" class="dropdown-item">One Person
                                                Company Registration</a></li>
                                        <li><a href="#" class="dropdown-item">Partnership Firm Registration</a></li>
                                        <li><a href="#" class="dropdown-item">Sole Proprietorship Registration</a></li>
                                        <li><a href="#" class="dropdown-item">Nidhi Company Registration</a></li>
                                        <li><a href="#" class="dropdown-item">Section 8 Company</a></li>
                                        <li><a href="#" class="dropdown-item">Producer Company Registration</a></li>
                                        <li><a href="#" class="dropdown-item">ESI Registration</a></li>
                                        <li><a href="#" class="dropdown-item">EPF Registration</a></li>
                                        <li><a href="#" class="dropdown-item">IEC Registration</a></li>
                                        <li><a href="#" class="dropdown-item">FSSAI Registration</a></li>
                                        <li><a href="#" class="dropdown-item">MSME Registration</a></li>
                                        <li><a href="#" class="dropdown-item">FSSAI License Renewal</a></li>
                                    </ul>
                                </div>


                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    Trade Mark
                                </a>
                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Trade Mark Registration</a></li>
                                        <li><a href="#" class="dropdown-item">Patent Registration</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Patent Search</a></li>
                                        <li><a href="#" class="dropdown-item">Copyright Registration</a></li>
                                        <li><a href="#" class="dropdown-item">International Trademark Registration</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Trademark Objection</a></li>
                                        <li><a href="#" class="dropdown-item">Trademark Opposition</a></li>
                                        <li><a href="#" class="dropdown-item">Trademark Rectification</a></li>

                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    Change or Conversation
                                </a>
                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Change in Business</a></li>
                                        <li><a href="#" class="dropdown-item">Change in Directors</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Change in Registered Office</a></li>
                                        <li><a href="#" class="dropdown-item">Company Share Transfer</a></li>
                                        <li><a href="#" class="dropdown-item">Increase in Authorized Share Capital</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Winding up of a Company</a></li>
                                        <li><a href="#" class="dropdown-item">Removal of Directors Disqualification</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Large/Growup Plane
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    NBFC Registration
                                </a>
                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Microfinance Company Registration- RBI</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Microfinance Company Registration- Section
                                                B</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Core Investment Company</a></li>
                                        <li><a href="#" class="dropdown-item">Venture Capital Company Registration</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Prepaid Wallet License</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Payment Bank License</a></li>
                                        <li><a href="#" class="dropdown-item">Peer to Peer Lending License</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Asset Reconstruction Company
                                                Registration</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Small Finance Bank License</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">IFSC Company</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC Account Aggregator (NBFC-AA)
                                                License</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC-MCA</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC-SEBI</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC-NABARD</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC-IRDA</a>
                                        </li>


                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    NBFC Management
                                </a>
                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">NBFC- RBI Compliance</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC- MCA Compliance</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC Software</a></li>
                                        <li><a href="#" class="dropdown-item">NBFC Annual Compliance</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Money Changer Compliance</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Funding in NBFC</a></li>
                                        <li><a href="#" class="dropdown-item">IRDA Compliance for Insurance Company</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Appeal Against NBFC License
                                                Cancellation</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Conversion of NBFC into Bank</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC Marketing</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Merchant Bankers License in India</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Nidhi Company Software</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Extended Producer Responsibility</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Peer to Peer Lending Software</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC-MCA</a>
                                        </li>


                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    Company Management
                                </a>
                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Annual Compliance of LLP</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Annual Compliance For Private Limited</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Annual Compliance of Public Limited</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">XBRL Filings</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Revival of Struck Off Companies</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Nidhi Company Annual Compliance</a></li>
                                        <li><a href="#" class="dropdown-item">Section 8 Annual Compliance</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">FSSAI Annual Return</a>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    Audit Compliance
                                </a>
                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Statuatory Audit</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Internal Audit</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Secretarial Audit</a></li>
                                        <li><a href="#" class="dropdown-item">Cost Audit</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Tax Audit</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">MSME Audit</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Abroad Startup</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Consultancy
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Compliance</a></li>
                            <li><a class="dropdown-item" href="#">Nidhi Training</a></li>
                            <li><a class="dropdown-item" href="#">Micro Finance</a></li>
                            <li><a class="dropdown-item" href="#">ROC Filing</a></li>
                            <li><a class="dropdown-item" href="#">Independent Director</a></li>
                            <li><a class="dropdown-item" href="#">CS Training</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Compliance & Tax
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">ROC Filing</a></li>
                            <li><a class="dropdown-item" href="#">Tax Filing</a></li>
                            <li><a class="dropdown-item" href="#">DSC Renewal</a></li>
                            <li><a class="dropdown-item" href="#">DIN KYC Filing</a></li>
                            <li><a class="dropdown-item" href="#">Company KYC/ Active Taging</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#abt">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar -->

    <!-- carousel -->
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="mainimage  d-block w-100" src="/mainimg.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="mainimage2 d-block w-100" src="/mainimg2.jpg" alt="Second slide">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- carousel -->

    <!-- overlay for carousel -->
    <!-- <div class="overlay">
        <img src="public/wallpaper.jpg" alt="">
    </div> -->
    <!-- overlay -->


    <!-- midsection -->

    <section class="midsection">
        <div class="top">
            <h1>Lets Get Started</h1>
            <p>Riseup Consultancy offers wide range of services including registration, tax planning with semi automated
                systems</p>
        </div>

        <div class="bottom">
            <div class="midcol">
                <h3>Company</h3>
                <p>Look out for Company Registration with 100% online at best price.</p>
                <i class="fa arrow1 ft-20 fa-angle-double-down text-orange" aria-hidden="true"></i>
            </div>
            <div class="midcol">
                <h3>NBFC</h3>
                <p>We are helping companies for their NBFC Registration and Management.</p>
                <i class="fa arrow1 ft-20 fa-angle-double-down text-orange" aria-hidden="true"></i>
            </div>
            <div class="midcol">
                <h3>Trademarks</h3>
                <p>Register for Trademark and get protection for your brand.</p>
                <i class="fa arrow1 ft-20 fa-angle-double-down text-orange" aria-hidden="true"></i>
            </div>
        </div>

    </section>
    <!-- midsection -->

    <!-- lowersection -->

    <section class="lowersection">
        <div class="head">
            <h1>Company</h1>
            <p>Register companies in India as per your business need at best prices.</p>
        </div>
        <div class="tail">
            <div class="lmcol">
                <div class="mark">
                    <h3>ONE PERSON COMPANY</h3>
                </div>
                <div class="colstart">
                    <p>Register Anywhere @ ₹8,000/- in just 15 Days. </p>
                </div>
                <div class="colend">
                    <p>(Inclusive of fees & taxes)</p> <button>MORE</button>
                </div>

            </div>
            <div class="lmcol">
                <div class="mark">
                    <h3>PRIVATE LIMITED COMPANY</h3>
                </div>
                <div class="colstart">
                    <p class="colstart">Register Anywhere @ ₹9,000/- in just 15 Days. </p>
                </div>
                <div class="colend">
                    <p>(Inclusive of fees & taxes)</p> <button>MORE</button>
                </div>
            </div>
            <div class="lmcol">
                <div class="mark">
                    <h3>LIMITED LIABILITY PARTNERSHIP</h3>
                </div>
                <div class="colstart">
                    <p>Register Anywhere @ ₹8,000/- in just 25 Days. </p>
                </div>
                <div class="colend">
                    <p>(Inclusive of fees & taxes)</p> <button>MORE</button>
                </div>
            </div>
        </div>
    </section>

    <!-- lowersection -->

    <!-- offer -->

    <section class="offer">
        <h2><em>Special Offer to Register <span>Nidhi Company</span> in India @ ₹16,999/- in 20 Days.</em>
            <button class="rgsbtn">REGISTER</button>
        </h2>
    </section>

    <!-- offer-->


    <!-- trademark section -->

    <section class="trademark-section">
        <div class="head">
            <h1>Trademark</h1>
            <p>File your trademark and get 100% protection from the infringer's.</p>
        </div>
        <div class="tail">
            <div class="tmcol">
                <div class="mark">
                    <h3>TRADEMARK FILING</h3>
                </div>
                <div class="tmstart">
                    <p>File your Trademark @ ₹6,999/- in just one Day. </p>
                </div>
                <div class="tmend">
                    <p>(Inclusive of fees & taxes)</p> <button>MORE</button>
                </div>

            </div>
            <div class="tmcol">
                <div class="mark">
                    <h3>TRADEMARK OBJECTION</h3>
                </div>
                <div class="tmstart">
                    <p>File an Objection @ ₹2,500/- in just 3-5 Days. </p>
                </div>
                <div class="tmend">
                    <p>(Inclusive of fees & taxes)</p> <button>MORE</button>
                </div>
            </div>
            <div class="tmcol">
                <div class="mark">
                    <h3>TRADEMARK RENEWAL</h3>
                </div>
                <div class="tmstart">
                    <p>Get your Trademark Renewed @ ₹12,000/- in just 1 Day. </p>
                </div>
                <div class="tmend">
                    <p>(Inclusive of fees & taxes)</p> <button>MORE</button>
                </div>
            </div>
        </div>
    </section>

    <!-- trademark section -->

    <!-- about -->
    <div class="about">
        <img class="aboutimg2" src="/about2.jpg" alt="features">
        <img class="aboutimg" src="/about.jpg" alt="about us">
    </div>
    <!-- about -->


    <!-- contact -->

    <div class="contact">
        <div class="heading">
            <h2>Contact Us</h2>
        </div>
        <div class="tailing">
            <div class="form-main">
                <div class="form-inner">
                    <input type="text" placeholder="Name">
                    <input type="text" Placeholder="Mobile Number">
                    <input type="text" placeholder="Email">
                    <input class="form-msg" type="text" placeholder="Briefly Describe the Message">
                    <button>Send</button>
                </div>
            </div>

            <div class="form-address">
                <h4>Connect With Us Directly!</h4>
                <div class="address-inner">
                    <div class="address-row">
                        <p class="address-head">Register Office</p>
                        <p class="address-tail">Gobindapur, Hanskhali, Nadia, WB-741505</p>
                    </div>
                    <div class="address-row">
                        <p class="address-head">Corporate Office</p>
                        <p class="address-tail">19 R.N Mukherjee Road,Kolkata-01</p>
                    </div>
                    <div class="address-row">
                        <p class="address-head">Branch Office</p>
                        <p class="address-tail">New Market Pancharatna RD, Goalpara- 783101</p>
                    </div>
                    <div class="address-row">
                        <p class="address-head">Branch Office</p>
                        <p class="address-tail special-address">225 Devnandan Mall, Opp Sanyas Ashram, NR Town Hall,
                            EllisBridge, Ahmedabad
                            380006</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- contact -->

    <!-- subfooter -->

    <div class="subfooter">
        <div class="subfooter-upper">
            <div class="socials">
                <i class="fab fa-facebook-square fa-2x"></i>
                <i class="fab fa-twitter-square fa-2x"></i>
                <i class="fab fa-google fa-2x"></i>
                <i class="fab fa-linkedin fa-2x"></i>
            </div>
        </div>
        <div class="subfooter-lower">
            <div class="subfooter-left">
                <div class="footercol">
                    <h4>Company Registration</h4>
                    <p>Private Limited Company</p>
                    <p>One Person Company</p>
                    <p>Nidhi Company Registration</p>
                    <p>MSME Registration</p>
                </div>
                <div class="footercol">
                    <h4>Trade Mark</h4>
                    <p>Trademark Registration</p>
                    <p>Copyright Registration</p>
                    <p>Patent Registration</p>
                    <p>Trademark Objection</p>
                </div>
                <div class="footercol">
                    <h4>NBFC Registration</h4>
                    <p>NBFC-SEBI</p>
                    <p>NBFC-MCA</p>
                    <p>Payment Bank License</p>
                    <p>Small Finance Bank License</p>
                </div>
                <div class="footercol">
                    <h4>Audit Compliance</h4>
                    <p>Statuatory Audit</p>
                    <p>Internal Audit</p>
                    <p>Secretarial Audit</p>
                    <p>Tax Audit</p>
                </div>
            </div>
            <div class="subfooter-right">
                <div class=" payments">
                    <h3>PAYMENTS ACCEPTED</h3>
                    <img src="/payments.png" alt="">
                </div>
            </div>

        </div>
        <div class="subfooter-end">
            <p>Copyright © 2021 RISEUP CONSULTANCY PRIVATE LIMITED. All rights Reserved.</p>
        </div>


    </div>

    <!-- subfooter -->

    <!-- scripts -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>

    <!-- scripts -->
</body>

</html>