<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RiseUp Consultancy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./private-limited.css">

    <script src="https://kit.fontawesome.com/2101b228df.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">


</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">RiseUp Consultancy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Startup Plane
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    Registration
                                </a>


                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a target="_blank" href="/private-limited" class="dropdown-item">Private
                                                Limited Company</a></li>
                                        <li><a href="#" class="dropdown-item">Public Limited Company Registration</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Limited Liability Partnership
                                                Registration</a></li>
                                        <li><a target="_blank" href="/one-person" class="dropdown-item">One Person
                                                Company Registration</a></li>
                                        <li><a href="#" class="dropdown-item">Partnership Firm Registration</a></li>
                                        <li><a href="#" class="dropdown-item">Sole Proprietorship Registration</a></li>
                                        <li><a href="#" class="dropdown-item">Nidhi Company Registration</a></li>
                                        <li><a href="#" class="dropdown-item">Section 8 Company</a></li>
                                        <li><a href="#" class="dropdown-item">Producer Company Registration</a></li>
                                        <li><a href="#" class="dropdown-item">ESI Registration</a></li>
                                        <li><a href="#" class="dropdown-item">EPF Registration</a></li>
                                        <li><a href="#" class="dropdown-item">IEC Registration</a></li>
                                        <li><a href="#" class="dropdown-item">FSSAI Registration</a></li>
                                        <li><a href="#" class="dropdown-item">MSME Registration</a></li>
                                        <li><a href="#" class="dropdown-item">FSSAI License Renewal</a></li>
                                    </ul>
                                </div>


                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    Trade Mark
                                </a>
                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Trade Mark Registration</a></li>
                                        <li><a href="#" class="dropdown-item">Patent Registration</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Patent Search</a></li>
                                        <li><a href="#" class="dropdown-item">Copyright Registration</a></li>
                                        <li><a href="#" class="dropdown-item">International Trademark Registration</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Trademark Objection</a></li>
                                        <li><a href="#" class="dropdown-item">Trademark Opposition</a></li>
                                        <li><a href="#" class="dropdown-item">Trademark Rectification</a></li>

                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    Change or Conversation
                                </a>
                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Change in Business</a></li>
                                        <li><a href="#" class="dropdown-item">Change in Directors</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Change in Registered Office</a></li>
                                        <li><a href="#" class="dropdown-item">Company Share Transfer</a></li>
                                        <li><a href="#" class="dropdown-item">Increase in Authorized Share Capital</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Winding up of a Company</a></li>
                                        <li><a href="#" class="dropdown-item">Removal of Directors Disqualification</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Large/Growup Plane
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    NBFC Registration
                                </a>
                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Microfinance Company Registration- RBI</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Microfinance Company Registration- Section
                                                B</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Core Investment Company</a></li>
                                        <li><a href="#" class="dropdown-item">Venture Capital Company Registration</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Prepaid Wallet License</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Payment Bank License</a></li>
                                        <li><a href="#" class="dropdown-item">Peer to Peer Lending License</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Asset Reconstruction Company
                                                Registration</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Small Finance Bank License</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">IFSC Company</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC Account Aggregator (NBFC-AA)
                                                License</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC-MCA</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC-SEBI</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC-NABARD</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC-IRDA</a>
                                        </li>


                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    NBFC Management
                                </a>
                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">NBFC- RBI Compliance</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC- MCA Compliance</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC Software</a></li>
                                        <li><a href="#" class="dropdown-item">NBFC Annual Compliance</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Money Changer Compliance</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Funding in NBFC</a></li>
                                        <li><a href="#" class="dropdown-item">IRDA Compliance for Insurance Company</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Appeal Against NBFC License
                                                Cancellation</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Conversion of NBFC into Bank</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC Marketing</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Merchant Bankers License in India</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Nidhi Company Software</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Extended Producer Responsibility</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Peer to Peer Lending Software</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">NBFC-MCA</a>
                                        </li>


                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    Company Management
                                </a>
                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Annual Compliance of LLP</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Annual Compliance For Private Limited</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Annual Compliance of Public Limited</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">XBRL Filings</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Revival of Struck Off Companies</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Nidhi Company Annual Compliance</a></li>
                                        <li><a href="#" class="dropdown-item">Section 8 Annual Compliance</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">FSSAI Annual Return</a>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">
                                    Audit Compliance
                                </a>
                                <div class="submenu">
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Statuatory Audit</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Internal Audit</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Secretarial Audit</a></li>
                                        <li><a href="#" class="dropdown-item">Cost Audit</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">Tax Audit</a>
                                        </li>
                                        <li><a href="#" class="dropdown-item">MSME Audit</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Abroad Startup</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Consultancy
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Compliance</a></li>
                            <li><a class="dropdown-item" href="#">Nidhi Training</a></li>
                            <li><a class="dropdown-item" href="#">Micro Finance</a></li>
                            <li><a class="dropdown-item" href="#">ROC Filing</a></li>
                            <li><a class="dropdown-item" href="#">Independent Director</a></li>
                            <li><a class="dropdown-item" href="#">CS Training</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Compliance & Tax
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">ROC Filing</a></li>
                            <li><a class="dropdown-item" href="#">Tax Filing</a></li>
                            <li><a class="dropdown-item" href="#">DSC Renewal</a></li>
                            <li><a class="dropdown-item" href="#">DIN KYC Filing</a></li>
                            <li><a class="dropdown-item" href="#">Company KYC/ Active Taging</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#abt">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar -->

    <!-- mainsection -->

    <div class="mainsection">
        <div class="main-info">
            <h1>Private Limited Company Registration</h1>
            <div class="main-infoPoints">
                <h3>Important Points</h3>
                <p>- Private Limited Company in 10 to 15 Days.</p>
                <p>- Completely online service - No physical presence required.</p>
                <p>- No minimum capital requirement</p>
            </div>
        </div>
        <div class="main-card">
            <h2>Get Started</h2>
            <h2 class="pay">By paying Rs. 9,000</h2>
            <div class="main-card-form">
                <input type="text" placeholder="Name*">
                <input type="text" placeholder="Your Email*">
                <input type="text" placeholder="Your Mobile No*">
            </div>
            <button>REGISTER NOW</button>
        </div>
    </div>

    <!-- mainsection -->

    <!-- middlesection -->

    <div class="middle-section">
        <div class="middle-info">
            <h1>Private Limited Company</h1>
            <div class="info-first">
                <h2>What is a Private Limited Company?</h2>
                <p>A private limited comapny is one of the ways to start your business in India. It is considered as
                    best
                    form of business which also secure your personal assets. It is most recommended form for startup in
                    India to raise funding, ESOPs etc.</p>
            </div>
            <div class="info-second">
                <h2>How to register Privated Limited Company in India?</h2>
                <p>Private limited company registration required only 2 person to start. No minimum capital requirement
                    is there, one can start with even Rs. 5,000. Here are the following three important points:</p>
                <p><span># Prepare DSC and file Name Approval: </span> The first step is to prepare DSC and DIN. This
                    takes sometime one to two days. Thereafter, you need to file for name approval. The first word of
                    the name should be unique and name should end with the words "Private Limited".</p>
                <p><span># File for Incorporation: </span> After taking name approval, the next step is to file for
                    incorporation via spice form INC 32. Further, PAN and TAN are not required to be filed separately
                    and the same is allotted on company formation.</p>
                <p><span># Take GST Registration: </span> After incorporation, access your business and take necessary
                    registration including GST registration. This is because working without tax license is illegal in
                    India.</p>
            </div>
        </div>
        <div class="middle-basics">
            <div class="basics-header">
                <h1>Know the basics</h1>
            </div>
            <div class="basic-elements">
                <div class="element">
                    <img src="/imgprivate.png" alt="">
                    <p>Documents Required</p>
                </div>
                <div class="element">
                    <img src="/imgprivate2.png" alt="">
                    <p>Requirement for Registration</p>
                </div>
                <div class="element">
                    <img src="/imgprivate3.png" alt="">
                    <p>Total Process Involved</p>
                </div>
                <div class="element">
                    <img src="/imgprivate4.png" alt="">
                    <p>Who can start a Company in India?</p>
                </div>
                <div class="element">
                    <img src="/imgprivate5.png" alt="">
                    <p>Time & Cost Involved</p>
                </div>
                <div class="element">
                    <img src="/imgprivate6.png" alt="">
                    <p>How to raise funding in India?</p>
                </div>
                <div class="element">
                    <img src="/imgprivate7.png" alt="">
                    <p>How to select Company Name?</p>
                </div>
                <div class="element">
                    <img src="/imgprivate8.png" alt="">
                    <p>Mandatory Compliance</p>
                </div>
            </div>
        </div>
    </div>

    <!-- middlesection -->

    <!-- documents section -->

    <section class="documents">
        <div class="doc-inner">
            <div class="doc-header">
                <h1>Documents required for Private Company Registration</h1>
            </div>
            <div class="doc-info">
                <div class="directors">
                    <h2>For Directors/ Shareholders</h2>
                    <div class="directors-info">
                        <ul class="list-tri">
                            <li>Copy of PAN Card</li>
                            <li>Adhar Card</li>
                            <li>Address Proof (Bank Statement, Mobile bill, Telephone bill)</li>
                            <li>Passport Size Photo</li>
                        </ul>
                    </div>
                </div>
                <div class="offices">
                    <h2>For Registered Office</h2>
                    <div class="office-info">
                        <ul class="list-tri">
                            <li>Ownership Proof (Electricity bill etc)</li>
                            <li>Utility Bill ( Gas bil, Electricity bill)</li>
                            <li>Address Proof (Bank Statement, Mobile bill, Telephone bill)</li>
                            <li>NOC (Download format)</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <!-- documents section -->

    <!-- registration section -->

    <section class="registration">
        <div class="reg-inner">
            <div class="reg-header">
                <h1>Private Limited Company Registration Process</h1>
            </div>
            <div class="reg-info">
                <p class="reg-info-head">Private Limited Company Registration process is very simple with riseup
                    consultancy. The whole procedure is completely online and one need not visit our office physically
                    to get the Company Registration.</p>

                <p><span># Step 1 - Arrange all required documents: </span> The first step is to arrange all the
                    documents and send the same over the email to us. We will check it and if everything is fine, you
                    will need to pay 50% advance.</p>
                <p><span># Step 2 - DSC, DIN and Name Approval: </span> After receiving the required documents and 50%
                    advance, we shall start your work. We will get the DIN, DSC and the name approval.</p>
                <p><span># Step 3 - File for incorporation:</span>Once your name is approved, you will be required to
                    pay the
                    rest of the amount and then we will be file your companies incorporation. Once approval is
                    granted, the incorporation work stands complete.</p>
            </div>
        </div>
    </section>

    <section class="registration">
        <div class="reg-inner">
            <div class="reg-header">
                <h1>How to choose Company name for Pvt. Company Registration?</h1>
            </div>
            <div class="reg-info">
                <p>Company name is the most important part of registration & hence should be selected with utmost care.
                    Here is the name format</p>
                <p><span>ABC </span>(Prefix) + <span>Technologies </span>(Suffix) +
                    <span>Private Limited </span>(End)
                </p>
                <p><span># ABC - Prefix: </span>The prefix should reflect your brand name and should be
                    unique. i.e., no it should not match with any existing company or trademark. The example of prefix
                    i.e., your first word is TATA, Reliance, Riseup etc.</p>
                <p><span># Technologies - Suffix: </span>It is regarded as the second word of your
                    company name. This should reflect your main proposed business. E.g., if you are into technology
                    company, then write technology, for stell business, you can use TATA Steel Ltd.</p>
                <p><span># Private Limited - End: </span>These are the ending words which are mandated
                    by law. Every private company shall end his name with Private Limited. The words indicate that
                    Private meaning no public is involved and limited means capital is limited.</p>
                <p>Further some other conditions of rule 8 of Companies (Incorporation) Rule, 2014 needs to comply with.
                </p>
            </div>
        </div>
    </section>

    <!-- registration section -->



    <!-- lowersection -->

    <!-- <div class="lowersection">
        <div class="lowersection-head">
            <h2>Why Choose Riseup?</h2>
        </div>
        <div class="lowersection-cards">
            <div class="card">
                <div class="stars">
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                </div>
                <div class="card-title">
                    <p>Customer Satisfaction</p>
                </div>
            </div>
            <div class="card">
                <div class="stars">
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                </div>
                <div class="card-title">
                    <p>Transparent & Lowest Price</p>
                </div>
            </div>
            <div class="card">
                <div class="stars">
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                </div>
                <div class="card-title">
                    <p>Great After Sale Service</p>
                </div>
            </div>
        </div>
    </div> -->

    <!-- lowersection -->

    <!-- subfooter -->

    <div class="subfooter">
        <div class="subfooter-upper">
            <div class="socials">
                <i class="fab fa-facebook-square fa-2x"></i>
                <i class="fab fa-twitter-square fa-2x"></i>
                <i class="fab fa-google fa-2x"></i>
                <i class="fab fa-linkedin fa-2x"></i>
            </div>
        </div>
        <div class="subfooter-lower">
            <div class="subfooter-left">
                <div class="footercol">
                    <h4>Company Registration</h4>
                    <p>Private Limited Company</p>
                    <p>One Person Company</p>
                    <p>Nidhi Company Registration</p>
                    <p>MSME Registration</p>
                </div>
                <div class="footercol">
                    <h4>Trade Mark</h4>
                    <p>Trademark Registration</p>
                    <p>Copyright Registration</p>
                    <p>Patent Registration</p>
                    <p>Trademark Objection</p>
                </div>
                <div class="footercol">
                    <h4>NBFC Registration</h4>
                    <p>NBFC-SEBI</p>
                    <p>NBFC-MCA</p>
                    <p>Payment Bank License</p>
                    <p>Small Finance Bank License</p>
                </div>
                <div class="footercol">
                    <h4>Audit Compliance</h4>
                    <p>Statuatory Audit</p>
                    <p>Internal Audit</p>
                    <p>Secretarial Audit</p>
                    <p>Tax Audit</p>
                </div>
            </div>
            <div class="subfooter-right">
                <div class=" payments">
                    <h3>PAYMENTS ACCEPTED</h3>
                    <img src="/payments.png" alt="">
                </div>
            </div>

        </div>
        <div class="subfooter-end">
            <p>Copyright © 2021 RISEUP CONSULTANCY PRIVATE LIMITED. All rights Reserved.</p>
        </div>


    </div> -->

    <!-- subfooter -->

    <!-- scripts -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>

    <!-- scripts -->
</body>

</html>